body, html {
    padding: 0
    margin: 0
    width: 100%
    height: 100%
}
body {
    background-image: url('../images/sea1.jpg')
    background-position: center 
    background-size: cover
    background-repeat: no-repeat
    color: #4d4d4d
    font: 14px 'Helvetica Neue'
    font-weight: 300
    font-smoothing: antialiased 
}